{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Job{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/dashboards-analytics.js' %}"></script>
{% endblock page_js %}

{% block content %}
    <a href="{% url 'jobs/job_detail' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-briefcase"></i>
        <div class="text-truncate" data-i18n="jobs">Jobs</div>
    </a>
{% endblock %}