{% extends "layouts/base.html" %}

{% block title %} Edit Jobs {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.theme.default.min.css">

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<div class="content-wrapper" style="background:#dffc7d;" >
    <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add Job</h4>
            <span class="mb-0 text-success" >
              {% if msg %}
                  {{ msg | safe }}
              {% else %}
                  Please update your form
              {% endif %} 
            </span>
            <form class="form-sample" method="post" action="">
              {{ form.hidden_tag() }} 
              <p class="card-description"> Basic Detail </p>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Company</label>
                    <div class="col-sm-9">
                      {{ form.company_name(class="form-control") }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Job Title</label>
                    <div class="col-sm-9">
                      {{ form.job_title(class="form-control") }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        {{ form.job_description(class="form-control") }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Location</label>
                    <div class="col-sm-9">
                      {{ form.job_location(class="form-control") }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Salary</label>
                    <div class="col-sm-9">
                        {{ form.job_salary(class="form-control") }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Job Type</label>
                    <div class="col-sm-9">
                        {{ form.job_type(class="form-control") }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Job Category</label>
                    <div class="col-sm-9">
                      {{ form.job_category(class="form-control") }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Experience</label>
                    <div class="col-sm-9">
                      {{ form.job_experience(class="form-control") }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Qualification</label>
                    <div class="col-sm-9">
                      {{ form.job_qualification(class="form-control") }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Skills</label>
                    <div class="col-sm-9">
                      {{ form.job_skills(class="form-control") }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Job Posted</label>
                    <div class="col-sm-9">
                      {{ form.job_posted(class="form-control", type="date" ) }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Deadline</label>
                    <div class="col-sm-9">
                        {{ form.job_deadline(class="form-control" ,type="date" ) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Job Status</label>
                    <div class="col-sm-9">
                      {{ form.job_status(class="form-control") }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Featured</label>
                    <div class="col-sm-9">
                        {{ form.featured_job(class="form-control" ) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">URL</label>
                    <div class="col-sm-9">
                      {{ form.url(class="form-control" ,placeholder="Please Enter without https://") }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" name="add_job" class="btn btn-primary  enter-btn">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

</div>

{% endblock content %}


<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/static/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/static/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/static/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>

{% endblock plugin_javascripts %}

{% block javascripts %}

  <script src="/static/assets/js/dashboard.js"></script>

{% endblock javascripts %}
