{% extends "layouts/base.html" %}

{% block title %} Jobs {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
  <link rel="stylesheet" href="/static/assets/css/jobs.css">

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper" style="background:#dad7d7;padding:0px 0px;">
    <div class="recent-job">
        <div class="width-50">
            <div class="job-card">
                <h4 class="job-title">HTML Designer</h4>
                <p class="job-company">Dezven Software Solution <i class="fa fa-star" aria-hidden="true"></i> | 234 Reviews </p>
                <p class="job-skill"><b>Skills:</b> HTML, CSS, JAVASCRIPT, JQUERY, BOOTSTRAP, PHOTOSHOP</p>
                <a href="#" class="job-apply-button">View Job</a>
            </div>
        </div>
        <div class="width-50">
            <div class="job-card">
                <h4 class="job-title">CSS Designer</h4>
                <p class="job-company">Dezven Group <i class="fa fa-star" aria-hidden="true"></i> | 234 Reviews </p>
                <p class="job-skill"><b>Skills:</b> HTML, CSS, JAVASCRIPT, JQUERY, BOOTSTRAP, PHOTOSHOP</p>
                <a href="#" class="job-apply-button">View Job</a>
            </div>
        </div>
        <div class="width-50">
            <div class="job-card">
                <h4 class="job-title">HTML Designer</h4>
                <p class="job-company">Dezven Software Solution <i class="fa fa-star" aria-hidden="true"></i> | 234 Reviews </p>
                <p class="job-skill"><b>Skills:</b> HTML, CSS, JAVASCRIPT, JQUERY, BOOTSTRAP, PHOTOSHOP</p>
                <a href="#" class="job-apply-button">Apply Now</a>
            </div>
        </div>
        <div class="width-50">
            <div class="job-card">
                <h4 class="job-title">CSS Designer</h4>
                <p class="job-company">Dezven Group <i class="fa fa-star" aria-hidden="true"></i> | 234 Reviews </p>
                <p class="job-skill"><b>Skills:</b> HTML, CSS, JAVASCRIPT, JQUERY, BOOTSTRAP, PHOTOSHOP</p>
                <a href="#" class="job-apply-button">Apply Now</a>
            </div>
        </div>
        <div class="width-50">
            <div class="job-card">
                <h4 class="job-title">HTML Designer</h4>
                <p class="job-company">Dezven Software Solution <i class="fa fa-star" aria-hidden="true"></i> | 234 Reviews </p>
                <p class="job-skill"><b>Skills:</b> HTML, CSS, JAVASCRIPT, JQUERY, BOOTSTRAP, PHOTOSHOP</p>
                <a href="#" class="job-apply-button">Apply Now</a>
            </div>
        </div>
        <div class="width-50">
            <div class="job-card">
                <h4 class="job-title">CSS Designer</h4>
                <p class="job-company">Dezven Group <i class="fa fa-star" aria-hidden="true"></i> | 234 Reviews </p>
                <p class="job-skill"><b>Skills:</b> HTML, CSS, JAVASCRIPT, JQUERY, BOOTSTRAP, PHOTOSHOP</p>
                <a href="#" class="job-apply-button">Apply Now</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/static/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/static/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/static/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>

{% endblock plugin_javascripts %}

{% block javascripts %}

  <script src="/static/assets/js/dashboard.js"></script>

{% endblock javascripts %}
